<footer class="container-footer">
  <div class="social">
    <a href="https://github.com/HerdesonMourao" target="_blank" rel="noreferrer noopener">
      <img src="social/github.svg" alt="logo GitHub" width="24" height="24"/>
    </a>
    <a href="https://www.linkedin.com/in/herdesonmourao/" target="_blank" rel="noreferrer noopener">
      <img src="social/linkedin.svg" alt="logo LinkedIn" width="24" height="24"/>
    </a>
    <a href="https://wa.me/5588988344382?text=Estava+no+seu+site+e+gostaria+de+solicitar+um+or%c3%a7amento..." target="_blank" rel="noreferrer noopener">
      <img src="social/whatsapp.svg" alt="logo WhatsApp" width="24" height="24"/>
    </a>
    <a href="mailto:herdeson@mourao.dev.br" target="_blank" rel="noreferrer noopener">
      <img src="social/email.svg" alt="logo Email" width="24" height="24"/>
    </a>
  </div>
  <p>&copy; 2025 Desenvolvido por <strong>Herdeson Mourao</strong>. 43.292.118/0001-43. Todos os direitos reservados.</p>
</footer>