<footer class="container-footer">
  <div class="social">
    <a href="https://github.com/HerdesonMourao" target="_blank" rel="noreferrer noopener">
      <img src="/github.svg" alt="logo GitHub" width="24" height="24"/>
    </a>
    <a href="https://www.linkedin.com/in/herdesonmourao/" target="_blank" rel="noreferrer noopener">
      <img src="/linkedin.svg" alt="logo LinkedIn" width="24" height="24"/>
    </a>
    <a href="https://wa.me/5588988344382" target="_blank" rel="noreferrer noopener">
      <img src="/whatsapp.svg" alt="logo WhatsApp" width="24" height="24"/>
    </a>
    <a href="mailto:herdeson@mourao.dev.br" target="_blank" rel="noreferrer noopener">
      <img src="/email.svg" alt="logo Email" width="24" height="24"/>
    </a>
  </div>
  <p>&copy; 2025 Desenvolvido por <strong>Herdeson Mourao</strong>. 43.292.118/0001-43. Todos os direitos reservados.</p>
</footer>