<section id="clients">
  <h2>Clientes</h2>
  <div class="grid">
    <div class="card">
      <img src="clients/aikont.svg" alt="Logo Mutant">
      <h3>Aikont</h3>
      <span>Tech Lead</span>
    </div>
    <div class="card">
      <img src="clients/agilezap.svg" alt="Logo AgileZap">
      <h3>AgileZap</h3>
      <span>Desenvolvedor FullStack</span>
    </div>
    <div class="card">
      <img src="clients/mutant.png" alt="Logo Mutant">
      <h3>Mutant</h3>
      <span>Analista de Desenvolvimento</span>
    </div>
    <div class="card">
      <img src="clients/vivo.svg" alt="Logo VIVO">
      <h3>VIVO</h3>
      <span>Analista de Desenvolvimento</span>
    </div>
  </div>
</section>