h2 {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 36px;
  margin-bottom: 20px;
}

h3 {
  font-size: 17px;
}

span {
  font-size: 15px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}