<main>
  <section id="introduction">
    <h1>
      Me chamo Herdeson Mourão, sou desenvolvedor fullstack, atuando no mercado desde 2020.
    </h1>
  </section>
  <section id="techs">
    <div class="presentation">
      <h2>Tecnologias</h2>
      <p>Essas sao as tecnologias que atuo no momento</p>
    </div>
    <div class="grid-stacks">
      <div class="card">
        <img src="stacks/angular.svg" alt="Logo Angular">
        <h3>Angular</h3>
      </div>
      <div class="card">
        <img src="stacks/vuejs.svg" alt="Logo VUEJS">
        <h3>Vue.js</h3>
      </div>
      <div class="card">
        <img src="stacks/html5.svg" alt="Logo HTML5">
        <h3>HTML5</h3>
      </div>
      <div class="card">
        <img src="stacks/css3.svg" alt="Logo CSS3">
        <h3>CSS3</h3>
      </div>
    </div>
  </section>
  <app-clients></app-clients>
  <section id="projects">
    <h2>Projetos</h2>
    em construcao
  </section>
  <app-contact></app-contact>
</main>