.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}

.grid-stacks {
  display: flex;
  justify-content: center;
  gap: 30px;
}